In [1]:
import nest_asyncio
nest_asyncio.apply()

In [2]:
import mysql.connector

try:
    conn1 = mysql.connector.connect(
        host="mysql",
        user="root",
        password="1234"
    )
    if conn1.is_connected():
        print("MySQL 서버에 성공적으로 연결되었습니다.")
except mysql.connector.Error as err:
        print("MySQL 서버 연결 실패", err)
finally:
    if conn1.is_connected():
        print("연결중...")

cursor1 = conn1.cursor()
que = "CREATE DATABASE IF NOT EXISTS stdb"
cursor1.execute(que)
conn1.close()

# MySQL에 연결
conn1 = mysql.connector.connect(
        host="mysql",
        user="root",
        password="1234",
        database="stdb" # 사용할 데이터 베이스
    )
cursor1 = conn1.cursor()
print("MySQL 연결 성공!")

# 테이블 생성
query1 = "CREATE TABLE IF NOT EXISTS users (name VARCHAR(100),age INT,addr VARCHAR(100))"
cursor1.execute(query1)
print("테이블 생성완료")

MySQL 서버 연결 실패 2005 (HY000): Unknown MySQL server host 'mysql' (-2)

NameError: name 'conn1' is not defined

In [ ]:
from pymongo import MongoClient
client = MongoClient("mongodb://mongodb:27017")

try:
    print(client.admin.command('ping'))
    print("MongoDB 서버에 성공적으로 연결되었습니다.")
except Exception as e:
    print("MongoDB 서버 연결 실패:", e)

In [ ]:
# 사용할 데이터베이스 선택
db = client["sdb"]
print("사용할 데이터베이스 선택됨")

# 사용할 컬렉션 선택
collection = db["s1"]
print("사용할 컬렉션 선택됨")

In [ ]:
import oracledb
    # 데이터베이스 연결시도
try:
    conn2 = oracledb.connect(
        user="pknu",
        password="1234",
        dsn="oracle/XEPDB1"
    )
    print("Oracle 데이터베이스에 성공적으로 연결 되었습니다.")
    cursor2 = conn2.cursor()
except Exception as e:
    print("Oracle 데이터베이스 연결 실패:",e)

In [ ]:
# 테이블 생성

query2 = """
    BEGIN
        EXECUTE IMMEDIATE '
            CREATE TABLE persons (
            id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name VARCHAR2(50),
            age NUMBER,
            addr VARCHAR2(50)
            )';
    EXCEPTION
        WHEN OTHERS THEN
            IF SQLCODE != - 955 THEN
                RAISE;
            END IF;
        END;
"""
cursor2.execute(query2)
print("테이블 생성 완료")

In [ ]:
import asyncio 

name = input("이름:")
age = int(input("나이 "))
addr = input("주소:")

# MySQL
sql = "INSERT INTO users (name, age, addr) VALUES (%s, %s, %s)"
values = (name, age, addr)
try:
    cursor1 = conn1.cursor()
    cursor1.execute(sql, values)
    conn1.commit()
    print("MySQL에 데이터 삽입 완료!")
except Exception as e:
    print(f"MySQL 오류: {e}")

# mongoDB
user = {"name":name, "age":age, "addr":addr}
insert_result = collection.insert_one(user)
print("MongoDB에 데이터가 삽입되었습니다, ID:", insert_result.inserted_id)

# Oracle
que = "INSERT INTO persons (name, age, addr) VALUES (:1, :2, :3)"
try:
    cursor2.execute(que, (name, age, addr))  
    conn2.commit()
    print("Oracle에 데이터 삽입 완료!")
except Exception as e:
    print(f"Oracle 오류: {e}")